<section id='hero' class='section-hero'>
		<div class='hero-content'>
			<div class='container-fluid'>
				<div class='hero-content-inner'>
					<h1>{{ site.data.layout.hero.hero_title}}</h1>
					<p>{{ site.data.layout.hero.hero_description}}.</p>
				</div>
			</div>
		</div>
		<div class='appointment-form container-fluid'>
			<div class='col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form'>
				<form>
					<h3>
					<span class="fa fa-envelope-o">	</span>
					<span>Make an Appointment</span>
				</h3>
					<div class="form-group">
						<label for="nameInput" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="nameInput" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="phoneInput" class="sr-only">Email address</label>
						<input type="tel" class="form-control" id="phoneInput" placeholder="Phone">
					</div>
					<div class="form-group">
						<label for="emailInput" class="sr-only">Email address</label>
						<input type="email" class="form-control" id="emailInput" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="messageTextarea" class="sr-only">Password</label>
						<textarea id="messageTextarea" class="form-control" row="3" placeholder="Message"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Send</button>
				</form>

			</div>
		</div>
</section>