<section id='info-3columns' class='section-info-3columns'>
	<div class='col col-sm-4'>
		<i class='fa fa-{{ site.data.layout.contact.icon}} fa-2x'></i>
		<h3>{{ site.data.layout.contact.title }}</h3>
		
		{% for item in site.data.layout.contact.items %}
			<p><strong>{{ item.name }}:</strong> {{ item.value }}</p>
		{% endfor %}	
		
	</div>
	<div class='col col-sm-4'>
		<i class='fa fa-{{ site.data.layout.openHours.icon}} fa-2x'></i>
		<h3>{{ site.data.layout.openHours.title }}</h3>
		
		<table>
			{% for item in site.data.layout.openHours.items %}
				<tr><td>{{ item.name }}</td><td>{{ item.value }}</td></tr>
			{% endfor %}
		</table>
		
	</div>
	<div class='col col-sm-4'>
		<i class='fa fa-{{ site.data.layout.location.icon}} fa-2x'></i>
		<h3>{{ site.data.layout.location.title }}</h3>
		<p>{{ site.data.layout.location.address }}</p>
	</div>
</section>
