<section id='testimonials' class='section-testimonials'>
	<div class='overlay'>
		<div class='container-fluid'>
			<div class="testimonials-slide">
				{% for item in site.data.layout.testimonials %}
					<div class="item">
						<span class='fa fa-{{site.data.layout.icon-quote}}'></span>
						<blockquote>
							<p>{{ item.quotes }}</p>
							<footer>
								<strong>{{ item.name }}</strong><br>
								<small>{{ item.title }}</small>
						</footer>
						</blockquote>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>