.section-about {
    padding: $spaceDouble 0;
    p,dd{
        color: lighten($color-base, 15%);
    }
    dt {
        float: left;
        margin-top: 4px;
    }
    
    dd{
        margin-bottom: $space;
        margin-left: $spaceDouble;
    }
    .fa {
        border: 2px solid $color-primary;
        border-top-width: 3px;
        padding: 4px;
        margin-right: 10px;
        line-height: 1;
    }
}