.section-about {
    @extend %space;
    background-color: $white;
    p,
    dd {
        color: lighten($color-base, 15%);
    }
    dt {
        float: left;
        margin-top: 4px;
    }
    dd {
        margin-bottom: $space;
        margin-left: $spaceDouble;
    }
    .fa {
        border: 2px solid $color-primary;
        padding: 4px;
        margin-right: 10px;
        line-height: 1;
    }
}