.section-footer{
    padding: $spaceDouble;
    text-align: center;
    background-color: $color-primary;
    
    p{
        color: $white;
        font-size: 1.2rem;
    }
    
    .fa{
        margin: $space $space/1.5;
        color: $white;
    }
}
