.section-info-3columns {
    display: block;
    @include breakpoint('sm') {
        display: flex;
    }
    .fa {
        margin-bottom: $space;
        color: $white;
    }
    .col {
        /* 比[class^='col-']*/
        background-color: $color-primary;
        color: $white;
        padding: $space * 3 $space;
        @extend %align-center;
        
        &:nth-child(1) {
            background-color: $color-primary;
        }
        &:nth-child(2) {
            background-color: lighten($color-primary, 2%);
        }
        &:nth-child(3) {
            background-color: lighten($color-primary, 4%);
        }
    }
    h3 {
        color: $white;
    }
    p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.8;
    }
    strong {
        font-weight: 600;
    }
    table {
        width: 100%;
        max-width: 260px;
        @include center-block;
        display: table;
        
        td:nth-child(1) {
            text-align: left;
        }
        td:nth-child(2) {
            text-align: right;
        }
    }
}
