.section-testimonials {
    background: {
        image: url("../img/#{$testimonial-hero}");
        size: cover;
        attachment: fixed;
        position: center center;
    }
    .overlay {
        padding: $spaceDouble*1.5;
        background-color: rgba($color-primary, 0.5);
    }
    
    .testimonials-slide {
        .item {
            text-align: center;
        }
    }
    .fa {
        border: 2px solid $white;
        padding: 8px;
        margin-bottom: $spaceDouble;
        color: $white;
    }
    blockquote {
        border: none;
        p {
            color: $white;
            font-style: italic;
            letter-spacing: 0.05rem;
        }
        footer {
            color: $white;
            font-weight: 600;
            &:before {
                content: none;
            }
        }
        strong {
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0.08rem;
            
        }
        small {
            color: $white;
            &:before {
                content: none;
            }
        }
    }
}